body {
  background-color: rgba(152,218,229, 1);
  margin: 0px;
}
.Conteiner {
    display: grid;
    width: 500px;
    height: 400px;
    margin: 250px auto;
    border-radius: 22px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 0px 10px 15px rgba(0, 0, 0, 0.1);
    border: 1px rgba(0, 0, 0, 0.001);
}
.titulo-login {
    margin: 0px 50px ;
}
.Entrada_Usuario {
    padding: 15px ;
    width: 300px;
    border-radius: 15px;
    border: solid 3px rgb(152,218,229, 1);
}
.password {
    padding: 15px;
}
.botao { 
    background-color: rgba(50, 162, 218, 1);
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    font-family: "archivo black", sans-serif;
    color: white;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin : 20px 0px;
}