body {
  background-color: rgba(152,218,229, 1);
  margin: 0px;
}
.Conteiner {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 430px;
    margin: 130px auto;
    border-radius: 22px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px rgba(0, 0, 0, 0.001);
}

.Conteiner-top {    
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    gap: 10px;
    margin-top: 0px;
    cursor: default;
}

img {
    width: 50px;
    height: 50px;
    margin-top: 0px;
}

.titulo-login {
    font-family: "JetBrains Mono", monospace;
    margin: 0px auto 20px auto ;
    font-size: 30px;
    color: rgba(0, 51, 255, 0.65);;
}

.subtexto {
    color: #083a68;
    font-size: 20px;
    font-family: "archivo black", sans-serif;
    margin-top: -30px;
    margin-bottom: 0px;
    cursor: default;
}

.mensagem {
    font-family: "archivo black", sans-serif;
    font-size: 13px !important;
    color: #1e3650;
    font-size: 15px;
    cursor: default;
}

.Entrada_Usuario {
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    border: solid 2px rgb(221, 221, 221);
    margin-bottom: 10px;
}
.password {
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    border: solid 2px rgb(221, 221, 221);
    margin-top: 5px;
}

.sub {
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.checkbox {
   cursor: pointer;

}

.Lembrar {
    font-family: "Archivo Black", sans-serif;
    font-size: 11px;
    color: rgb(67, 89, 106);
    cursor:default;
    margin-left: -2px;
    margin-top: 10px;
}

.Link_EsqueciSenha {
    font-family: "Archivo Black", sans-serif;
    font-size: 11px;
    color: rgb(74, 139, 197);
    margin-left: 30px;
    text-decoration: none;
}

.Link_EsqueciSenha:hover {
    text-decoration: underline;
}

.botao { 
    background-color: rgba(50, 162, 218, 1);
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: "archivo black", sans-serif;
    color: white;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 0px;
}

.botao:hover {
    background-color: rgb(2, 130, 194);
}

.foot{
    margin-top: 0px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
}

.NTC {
    
    color: rgb(43, 63, 86);
    margin-right: 3px;
    font-family: "Archivo Black", sans-serif;
    font-size: 12px;
    cursor: default;
}

.Cadastro {
    margin-top: 12px;
    color: rgb(9, 104, 186);
    font: bold;
    font-family: "Archivo Black", sans-serif;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.Cadastro:hover {
    text-decoration: underline;
}
