body {
    margin: 0px;
    background-color: rgba(152, 218, 229, 1);
}

.Conteiner {
    display: grid;
    width: 500px;
    height: 600px;
    margin: 150px auto;
    padding-bottom: 10px;
    border-radius: 22px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 0px 10px 15px rgba(0, 0, 0, 0.1);
    border: 1px rgba(0, 0, 0, 0.001);
    
}

img {
    width: 360px; 
    
}

.Nome_lav {
    color: rgba(0, 51, 255, 0.65);
    font-family: "JetBrains Mono", monospace;
}

.Botao {
    background-color: rgba(50, 162, 218, 1);
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Archivo Black", sans-serif;
    color: white;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.Botao:hover {
    background-color: rgb(2, 130, 194);
}

.NTC {
    font-family: "Archivo Black", sans-serif;
    font-size: 13px;
    color: rgb(43, 63, 86);
}

a {
    margin-top: -5px;
    color: rgb(9, 104, 186);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;

}